body {
  font-family: Arial, sans-serif;
  background: white;
  margin: 0;
  padding: 0;
}

h1, p {
  text-align: center;
}

form {
  background: skyblue;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input, select, textarea, button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
  margin-right: 6px;
}

.radio-label,
.checkbox-label {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: normal;
  margin-top: 5px;
}

#submit {
    color: black;
}

button {
  background: gold;
  color: white;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background: goldenrod;
}
